---
import Layout from '@/layouts/layout.astro'
import Heading from '@/components/heading.astro'
import Wrapper from '@/components/wrapper.astro'
import YSection from '@/components/y-section.astro'
---

<Layout title="About">
  <div class="bg-b1ack-textured text-off-white">
    <Wrapper>
      <YSection size="md" class="text-center">
        <Heading level={1}>404: Page missing!</Heading>
        <p class="text-lg font-medium">Sorry, the page you are looking for does not exist.</p>
      </YSection>
    </Wrapper>
  </div>
</Layout>
