---
import { Image } from 'astro:assets'

import Layout from '@/layouts/layout.astro'
import ContentWrapper from '@/components/content-wrapper.astro'
import Heading from '@/components/heading.astro'
import YSection from '@/components/y-section.astro'
import KevinMccutcheon from '@/assets/kevin-mccutcheon.jpg'
import TSweetman from '@/assets/t-sweetman.jpg'

export const prerender = true
---

<Layout title="About">
  <div class="bg-b1ack-textured text-off-white">
    <ContentWrapper>
      <YSection size="md">
        <Heading level={1} class="text-center">About us</Heading>

        <p
          class="balance max-w-prose text-center font-display text-lg font-extrabold uppercase md:text-2xl">
          The Ears To learn With Podcast is a <span class="text-0range">multi content endeavor</span
          > that will provide:
        </p>

        <ul
          class="text-md md:text-md prose mx-auto mt-6 flex max-w-prose flex-col gap-6 text-center font-medium text-off-white">
          <li>
            Exciting, unique and exclusive musical collaborations for people to stream, buy and
            enjoy
          </li>

          <li>
            Long form discussions between musicians on topics of their choice. Conducted in the
            spirit of passionate and creative exploration. To be listened to or watched.
          </li>

          <li>
            An online resource that is engaging, accessible and in depth research that will be fully
            referenced and formatted for learners to engage with, deepen and further their study of
            music in general
          </li>
        </ul>
      </YSection>
    </ContentWrapper>
  </div>

  <ContentWrapper>
    <YSection
      size="lg"
      class="text-md mx-auto grid max-w-none font-medium text-b1ack md:grid-cols-2 md:gap-16">
      <div>
        <p class="mb-6 max-w-prose leading-7">
          It will do this by curating musicians and asking them for a musical topic they would love
          to explore with 1 other musician of their choice. The duo will come together in the studio
          around their instruments and some microphones and will explore the given topic through
          conversation and through playing music related to the topic. The audience of the podcasts
          will get the opportunity to hear their favorite musicians as well as discover new
          musicians talking about honest interests and inspirations that may not be so obvious in
          the artist's current public profile. It is a chance for audience members to go on a
          journey with the musicians of open learning through discussion, through playing, through
          research and through contemplation.
        </p>

        <Image src={TSweetman} alt="Todd Sweetman on the drums" class="mx-auto rounded-lg" />
      </div>

      <div class="flex flex-col-reverse md:flex-col">
        <Image
          src={KevinMccutcheon}
          alt="Vinyl spinning with a plant in the frame"
          class="mx-auto rounded-lg"
        />

        <p class="mb-6 mt-6 max-w-prose leading-7 md:mb-0">
          The artist will get a chance to explore topics they have always wanted to explore and to
          choose musicians they would love to spend that time doing it with. The audience of the
          music will have the chance to hear exclusive and unique live performance content from some
          of their favorite musicians and maybe discover new music and new musicians / artists
          through the process. The audience that visits the website will have the chance to take a
          deep dive through the research taken on each podcast topic, as well as to hear extended
          edits and watch video content of the conversation and musical performances. They will also
          have the chance to be directed towards further study and reading of each topic.
        </p>
      </div>
    </YSection>
  </ContentWrapper>
</Layout>
