---
import { groq, useSanityClient } from '@/lib/sanity'
import type { Episode } from '@/lib/types'

import Layout from '@/layouts/layout.astro'
import CatalogueCardList from '@/components/catalogue-card-list.astro'
import ContentWrapper from '@/components/content-wrapper.astro'
import YSection from '@/components/y-section.astro'

const episodes = await sanityClient.fetch(`*[_type == 'episode'] | order(_createdAt desc)`)
---

<Layout title="Episodes" class="flex flex-col">
  <h1 class="sr-only">All episodes</h1>

  <div class="grow bg-b1ack-textured text-off-white">
    <ContentWrapper>
      <YSection size="md">
        <CatalogueCardList {episodes} />
      </YSection>
    </ContentWrapper>
  </div>
</Layout>
