---
import Layout from '@/layouts/layout.astro'
import CatalogueCardList from '@/components/catalogue-card-list.astro'
import ContentWrapper from '@/components/content-wrapper.astro'
import YSection from '@/components/y-section.astro'
import { getEpisodes } from '@/lib/utils'

const episodes = await getEpisodes()
---

<Layout title="Episodes" class="flex flex-col">
  <h1 class="sr-only">All episodes</h1>

  <div class="grow bg-b1ack-textured text-off-white">
    <ContentWrapper>
      <YSection size="md">
        <CatalogueCardList {episodes} />
      </YSection>
    </ContentWrapper>
  </div>
</Layout>
