---
import { getEpisodes } from '@/lib/utils'

import Layout from '@/layouts/layout.astro'
import MusicCardList from '@/components/music-card-list.astro'
import NoEpisodes from '@/components/no-episodes.astro'
import Wrapper from '@/components/wrapper.astro'
import YSection from '@/components/y-section.astro'

const episodes = await getEpisodes()
---

<Layout title="Music" class="flex flex-col">
  <h1 class="sr-only">All music</h1>

  <div class="bg-b1ack-textured grow text-off-white">
    <Wrapper>
      <YSection size="md">
        {episodes.length ? <MusicCardList {episodes} /> : <NoEpisodes class="text-off-white" />}
      </YSection>
    </Wrapper>
  </div>
</Layout>
