---
import type { Episode } from '@/lib/types'
import { cn } from '@/lib/utils'

import Icon from '@/components/icon.astro'

type Props = {
  musicUrl: Episode['musicUrl']
  podcastUrl: Episode['podcastUrl']
  theme?: 'b1ack' | '0range'
}

const {podcastUrl, musicUrl, theme = 'b1ack' } = Astro.props
---

<ul
  aria-label="Select streaming platform"
  class={cn('flex rounded-full p-1', theme === 'b1ack' ? 'bg-b1ack-textured' : 'bg-0range')}>
  {
    [podcastUrl, musicUrl].map(
      url =>
        url && (
          <li role="presentation">
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              class={cn(
                'flex items-center gap-1.5 rounded-[calc(9999px_-_1rem)] px-3 py-2 text-xs font-medium text-off-white ',
                theme === 'b1ack' ? 'hover:bg-0range-textured' : 'hover:bg-b1ack-textured'
              )}>
              {url.includes('podcast') ? 'Podcast' : 'Music'}
            </a>
          </li>
        )
    )
  }
</ul>
