---
import type { Route } from '@/lib/types'
import { cn } from '@/lib/utils'

import ContentWrapper from '@/components/content-wrapper.astro'
import Scrollable from '@/components/scrollable'
import YSection from '@/components/y-section.astro'

const routes: Array<Route> = [
  { name: 'Home', href: '/' },
  { name: 'Episodes', href: '/episodes' },
  { name: 'Music', href: '/music' },
  { name: 'Research', href: '/research' },
  { name: 'About', href: '/about' },
]

const { pathname } = Astro.url
---

<YSection size="2xs" class="bg-b1ack-textured">
  <Scrollable client:load fromTo="from-neutral-950 to-neutral-900/0">
    <ContentWrapper>
      <nav class="w-full py-4">
        <ul class="flex justify-between gap-8 xs:gap-12 md:justify-between md:gap-24">
          {
            routes.map(({ name, href }) => (
              <li>
                <a
                  {href}
                  class={cn(
                    'font-sans font-medium lowercase text-off-white aria-current:text-0range sm:text-lg'
                  )}
                  aria-current={
                    pathname === '/' && href === '/'
                      ? 'page'
                      : pathname.startsWith(href) && href !== '/'
                      ? 'page'
                      : 'false'
                  }>
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </ContentWrapper>
  </Scrollable>
</YSection>
